/* .modeselector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.mode {
    margin: 20px;
}

#ec {
    display: inline-grid;
}

#EC-btn:hover { 
    cursor: pointer;
} */

#EC-btn {
    position: fixed;
    width: 190px;
    height: 215px;
    margin-left: -190px;
    margin-top: 141.75px;
    background-color: transparent;
    color: transparent;
    border-color: transparent;
}


#EC-btn:hover{
    cursor: pointer;
}
/* Img properties*/
#EC-img {
    margin-left: 139px;
    width: 190px;
    height: 215px;
    margin-top: 139px;
}

#rev-img {
    width: 130px;
    height: 180px;
}
